<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TutorDatabaseContext" connectionString="metadata=res://*/TutorDatabaseModel.csdl|res://*/TutorDatabaseModel.ssdl|res://*/TutorDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Tutorsdatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>