@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1 class="text-center">Tutor Website </h1>
    <p class="lead text-center">Choose from a selection of tutors to teach a varied range of subjects.</p>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Search</h2>
        <p class="lead">Search a selection of tutors based on your requirements. This will include age range, subject preference 
        and choice of Key Stage. 
    </div>
    <div class="col-md-6">
    <h2>Book</h2>
    <p class="lead">Choose your selected tutor and book a time, date and duration that suits your needs.</p>
    </div>
</div>

